<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>犯罪予測マップ</title>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-geometryutil@0.9.3/src/leaflet.geometryutil.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    
    <style type="text/css">
      html{
	  height: 100%;
      }
      body{
	  font-family:'Kosugi Maru', sans-serif;
	  height: 100%;
      }
      header{
	  height: 15%;
      }
      main{
	  height: 70%;
      }
      footer{
	  height: 15%;
      }
      #map{
	  width: 100%;
	  height: 100%;
      }
    </style>
    
  </head>

  <body>
    
    <header class="sticky-top text-white bg-success pl-3 pt-3 pb-1">
      <h1>犯罪予測マップ</h1>
      <p>
	愛知県警察が公開している犯罪オープンデータを利用して，地図に含まれる道路や建物などの要素から起こり得る犯罪種別を畳み込みニューラルネットワークで予測します．<br>
	地図をドラッグして移動させ，対象の区画を選んだ後に，「選択」ボタンをクリックしてください．
      </p>
    </header>

    <main class="mb-5">
      <div id="map"></div>
    </main>
    
    <footer class="fixed-bottom text-white bg-success pb-1 pt-1">

      <div id="controller" class="bg-success mt-1 ml-3 mr-3 p-3">

	<form method="POST">
	  <div class="container">
	    <div class="row">
	      
	      <div class="col input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text">緯度</span>
		</div>
		<input id="lat-input" type="text" name="lat-input" class="form-control">
	      </div>
	      
	      <div class="col input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text">経度</span>
		</div>
		<input id="lng-input" type="text" name="lng-input" class="form-control">
	      </div>	    
	      
	      <div class="col-md-auto">
		<button id="prediction" type="submit" class="btn btn-warning">予測</button>
	      </div>
	      
	    </div>
	  </div>
	</form>
	
      </div>      
      
      <p class="ml-4">&copy; Naoto Mukai 2021</p>
    </footer>

    
    <script>
      $(function(){

	  // JSON形式でデータを受け取る
	  var map_info = {{ map_info | tojson }}	 

	  let capture_rect = null;
	  let capture_circle = null;
	  let marker = null;

	  let center = L.latLng(map_info.lat, map_info.lng);	  
	  let zoom = 17;	  

	  //マップの生成
	  let map = L.map('map', {
	      attributionControl: false,
	      zoomControl: false,
	      minZoom: zoom,
	      maxZoom: zoom
	  });
	  map.setView(center, zoom);

	  // タイルレイヤー
	  L.tileLayer(
              'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
              { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors' }
	  ).addTo(map);

	  // マーカーの追加
	  let map_markers = {{ map_markers | tojson }}
	  map_markers.forEach(map_marker => {
	      latlng = L.latLng(map_marker.lat, map_marker.lng)
	      marker = L.marker(latlng);
	      marker.bindPopup(map_marker.popupContent);
	      marker.addTo(map);
	      marker.openPopup();
	  });

	  // マップの移動
	  map.panTo(center)
	  
	  // キャプチャエリアの表示
	  function getCaptureArea(){

	      angle1 = 45
	      angle2 = 225
	      distance = 175
	      
	      center = map.getCenter();
	      point1 = L.GeometryUtil.destination(center, angle1, distance)
	      point2 = L.GeometryUtil.destination(center, angle2, distance)

	      capture_rect = L.rectangle(
		  [point1, point2],
		  {
		      weight: 3,
		      color: "#ff0000",
		      opacity: 0.8
		  }
	      );

	      capture_circle = L.circle(
		  center,
		  {
		      radius: 3,
		      opacity: 0,
		      fillColor: "#ff0000",
		      fillOpacity: 1.0
		  }
	      );
	      
	      return capture_rect, capture_circle;
	      
	  }

	  // 緯度経度の表示
	  function setLatLng(latlng){
	      $("#lat-input").val(latlng.lat);
	      $("#lng-input").val(latlng.lng);
	      $("#lat-post").val(latlng.lat);
	      $("#lng-post").val(latlng.lng);	      	      
	  }	  
	  
	  // キャプチャエリアの初期化
	  capture_rect, capture_circle = getCaptureArea()
	  capture_rect.addTo(map)
	  capture_circle.addTo(map)

	  // 緯度経度の初期化
	  setLatLng(center)
	  
	  // キャプチャエリアと緯度経度の更新
	  map.on("moveend", function(e){
	      center = map.getCenter();

	      capture_rect.remove();
	      capture_circle.remove();
	      
	      capture_rect, capture_circle = getCaptureArea();
	      capture_rect.addTo(map);
	      capture_circle.addTo(map);

	      setLatLng(center)
	  });

	  
      })
      </script>
    
  </body>
</html>
